.node {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.active {
    border: 1px solid black;
}

.node.active.color-palette-0 {
    background-color: #f0f8ff; /* AliceBlue */
}

.node.active.color-palette-1 {
    background-color: #faebd7; /* AntiqueWhite */
}

.node.active.color-palette-2 {
    background-color: #f5f5dc; /* Beige */
}

.node.active.color-palette-3 {
    background-color: #f0ffff; /* Azure */
}

.node.active.color-palette-4 {
    background-color: #f5f5f5; /* WhiteSmoke */
}

.node.active.color-palette-5 {
    background-color: #fffaf0; /* FloralWhite */
}

.node.active.color-palette-6 {
    background-color: #f0fff0; /* HoneyDew */
}

.node.active.color-palette-7 {
    background-color: #fff0f5; /* LavenderBlush */
}

.node.active.color-palette-8 {
    background-color: #f0e68c; /* Khaki */
}
.inactive {
    border: 1px solid #808080;
    color: #808080;
}

.handle {
    position: absolute;
}

.inactive .react-flow__handle {
    background: #808080;
}

.handle-top {
    top: 0;
}

.handle-bottom {
    bottom: 0;
}

.boundary-node {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}

.selected > .node.active  {
    border: 1px solid rgba(4, 4, 136, 0.964);
    filter: brightness(90%);
}

